body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #121212;
    color: #ffffff;
}

.section {
    padding: 80px 0;
}

.navbar {
    background-color: #121212;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 18px;
    margin: 0 15px;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.roundItem {
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    border: 2px solid #1041e1;
    position: relative;
}

.lineUp {
    width: 28px;
    height: 4px;
    background-color: #1041e1;
    position: absolute;
    transform: rotate(90deg);
    bottom: 30px;
    left: -4px;
}

.year {
    position: absolute;
    right: 25px;
    font-size: 0.8em;
    color: #ffffff;
}

.footer {
    background-color: #121212;
    color: #ffffff;
    font-size: 14px;
    padding: 20px 0;
}